# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Models
models/saved/*
*.pkl
*.joblib
*.pt

# Dataset
datasets/raw/*
datasets/processed/*

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db