Flask==3.1.1
pydantic==2.11.7
numpy==2.3.2
pandas==2.3.2
scikit-learn==1.7.2
spacy==3.8.7
textstat==0.7.10
transformers==4.55.4
sentence-transformers==5.1.0
torch
lightgbm==4.6.0
shap==0.48.0
pytest==8.4.2
python-dotenv==1.1.1
joblib==1.5.2
datasets==3.2.0